<div class="form-group" data-id="<%= id %>">
    <span class="glyphicon glyphicon-sort text-info col-sm-1 drag-handle"></span>

    <label class="control-label col-sm-3" for="option-<%= id %>">
        <%= option.name %>:
    </label>

    <div class="col-sm-8">
        <select class="form-control" data-option="<%= id %>">
            <% _.each(option.options, function(o, idx) { console.log(idx)%>
            <option value="<%= idx %>" <%= idx == value ? "selected" : "" %>>
                <%= o.text %>
            </option>
            <% }); %>
        </select>
    </div>
</div>